div.c-message{
    background-color:#F0F2F5 ;
    margin: 5px;
    
}
.message-header{
    cursor: pointer;
    font-size: medium;
}
.hide{
    display: none;
   
}
.nonSeen{
    font-weight: bold;
}
div.btn-hideshow{
    font-weight: bold;
    width: 30px;  
    height: 30px;  
    border-radius: 50%;
    text-align: center;
    color: #0D6EFD;
    border:solid #FF4041;
    cursor:pointer;

}
div.btn-hideshow:hover{
    background-color: #0D6EFD;
    color: #FF4041;
}